body, html {
	background-color: rgba(220, 220, 220, 1);
	height: 100%;
	margin: 0;
	padding: 0;
}

.hero_image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://c-ratcliffe.github.io/img/Header_Brain_Cropped.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20%;
	min-height: 100px;
	max-height: 250px;
	position: relative;
}
.hero_text {
	color: rgba(230, 230, 230, 1);
	font-family: Verdana, sans-serif;
	font-size: 24px;
	font-variant: small-caps;
	font-weight: Thin;
	left: 10px;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}
.hero_subtext {
	color: rgba(230, 230, 230, 1);
	font-family: Verdana, sans-serif;
	font-size: 12px;
	font-weight: Thin;
	left: 10px;
	position: absolute;
	top: 75%;
	transform: translate(0%, -50%);
}
p {
	color: rgba(80, 80, 80, 1);
	font-family: Georgia, sans-serif;
	font-size: 16px;
	line-height: 32px;
	margin: 20px;
	position: absolute;
	text-align: left;
}