body, html {
	background-color: rgba(220, 220, 220, 1);
	height: 100%;
	margin: 0;
	padding: 0;
}

.hero_image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://c-ratcliffe.github.io/img/Header_Brain_Cropped.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20%;
	min-height: 100px;
	max-height: 250px;
	position: relative;
}
.hero_text {
	color: rgba(30, 30, 30, 1);
	font-family: Tahoma, sans-serif;
	font-size: 250%;
	font-variant: small-caps;
	left: 10px;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
}
p {
	color: rgba(80, 80, 80, 1);
	font-family: "Courier New", sans-serif;
	font-size: 100%;
	line-height: 200%;
	margin: 20px;
	position: absolute;
	text-align: left;
}
